@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Survey Workflow";
}
<h2>Survey Workflow</h2>

<p>Survey Workflow - View Template!</p>

<input type="button" value="Start Survey" onclick="location.href='@Url.Action("BaseInfo1", "Survey")'" />

<input type="button" value="back" onclick="location.href='@Url.Action("Landing", "Survey")'" />

<mxfile userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36" version="6.4.1" editor="www.draw.io" type="device"><diagram name="Page-1">zVZNU6swFP01bB0gUMtSq9WNM8504XMZwy1kDKQTUqH++hdIAgTa0dGpShflnvuZc3Om9dCqaO4E3uUPPAXmhX7aeOjGC8MgChfqq0UOGrmMYg1kgqYmaAA29B0M6Bt0T1OonEDJOZN054KElyUQ6WBYCF67YVvO3K47nMEM2BDM5ugTTWWu0WXsD/g90Cy3nQPfeF4wec0E35emnxeibfdod4FtLRNf5Tjl9QhCtx5aCc6lfiuaFbCWW0ubzluf8PZzCyjlZxJCnfCG2R7sxN1c8mC56E4DbXzgoes6pxI2O0xab622r7BcFsy4t5SxFWdcdLkoSdbrJFG4aQNCQnNy1KAnQF0s4AVIcVAhNmFpODN3ypr1sKDYLigfLcfGYXMnsr7ywIt6MdQcpyk6L03bJQFCFF5JwV9h5HlZxpE61FkI7NX2EwzGHzMIZXrValdZhOGqosQlTR1THP4pw7+Irfncmq3RUDlyKevZZOk2kM4EP6FNjcL3goCjC4lFBnJ0B+bkjsk7wp3FBDAs6Zs7xDFCTYdHTtV4/e4idGJ3toQe3mSNBT8tNLkEwWJSSB95Vqjbb3/sT618cWbRxO3nmGgW3XMe0aDoB0Vz+ddF82tyiCNXDslX5TAp1K/323JQ5vAzrsOH/0ro9j8=</diagram></mxfile>